/* =========================================================================
   objects.ratio
   ========================================================================= */

@layer objects {
    /**
     * Applies a fixed aspect ratio on any element.
     *
     * Example:
     *
     * <div class="o-ratio o-ratio--16-9">
     * </div>
     */
    .o-ratio {
        display: block;
        overflow: hidden;
    }
    
    /*
        Ratio Modifiers 
        ==================================================================== */

    /**
     * Sets the aspect ratio.
     */
    .o-ratio--1-1  { aspect-ratio: 1 / 1; }
    .o-ratio--4-3  { aspect-ratio: 4 / 3; }
    .o-ratio--16-9 { aspect-ratio: 16 / 9; }
    .o-ratio--21-9 { aspect-ratio: 21 / 9; }

    /*
        Cover Modifier
        ==================================================================== */

    /**
     * Fills the ratio box.
     */
    .o-ratio--cover .o-ratio__content {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}