    /* =========================================================================
    objects.box
    ========================================================================= */
    
    @layer objects {
        /**
        * Boxes off content from the surrounding elements.
        *
        * Example:
        *
        * <div class="o-box">
        * </div> 
        */
        .o-box { 
            display: block; 
            padding: var(--wisp-spacing-md, 1rem);
        }

        .o-box > :last-child    { margin-block-end: 0; }

        /*
            Spacing Modifiers 
            ==================================================================== */

        /**
        * Applies padding inside the box.
        */
        .o-box--spacing-sm 		{ padding: var(--wisp-spacing-sm, .5rem); }
        .o-box--spacing-md 		{ padding: var(--wisp-spacing-md, 1rem); }
        .o-box--spacing-lg 		{ padding: var(--wisp-spacing-lg, 1.5rem); }
    }