/* =========================================================================
   objects.media
   ========================================================================= */

@layer objects {
    /**
     * Aligns an image next to content.
     *
     * Example:
     *
     * <div class="o-media">
     *     <img class="o-media__image">
     *     <div class="o-media__body"></div>
     * </div>
     */
    .o-media { 
        display: flex;
        flex-direction: column;
    }

    .o-media__image { 
        display: block; 
        flex-shrink: 0;
    }

    @media (min-width: 48rem) {
        .o-media {
            flex-direction: row;
            align-items: flex-start;
            column-gap: var(--wisp-spacing-md, 1rem);
        }
 
        .o-media__body { 
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 0%;
            min-width: 0;
        }
    }

    /*  
       Reverse Modifier
       ===================================================================== */ 

    /**
     * Places the image after the content.
     */
    .o-media--reversed {
        flex-direction: column-reverse;
    }

    @media (min-width: 48rem) {
        .o-media--reversed {
            flex-direction: row-reverse;
        }
    }

    /*  
       Gap Modifiers
       ===================================================================== */

    /**
     * Sets the gap between the image and content.
     */
    .o-media--gap-sm 	{ column-gap: var(--wisp-spacing-sm, .5rem); }
    .o-media--gap-md 	{ column-gap: var(--wisp-spacing-md, 1rem); }
    .o-media--gap-lg 	{ column-gap: var(--wisp-spacing-lg, 1.5rem); }

   /*  
       Align Modifiers
       ===================================================================== */

    /**
     * Sets the cross-axis alignment of the image and content.
     */
    .o-media--align-start   { align-items: flex-start; }
    .o-media--align-center  { align-items: center; }
    .o-media--align-end     { align-items: flex-end; }

}