/* =========================================================================
   objects.grid
   ========================================================================= */
   
@layer objects {
    /**
     * Applies a grid layout.
     *
     * Example:
     *
     * <div class="o-grid">
     *     <div></div>
     *     <div></div>
     * </div> 
     */
    .o-grid { 
        display: grid;
	    gap: var(--wisp-spacing-md, 1rem);
    }

    /*
        Column Modifiers
        ==================================================================== */

    /**
     * Sets equal-width columns at specific breakpoints.
     */
    @media (min-width: 48rem) {
        .o-grid--cols-2-md    { grid-template-columns: repeat(2, 1fr); }
        .o-grid--cols-3-md    { grid-template-columns: repeat(3, 1fr); }
        .o-grid--cols-auto-md { grid-template-columns: repeat(auto-fit, minmax(0, 1fr)); }
    }

    @media (min-width: 64rem) {
        .o-grid--cols-4-lg    { grid-template-columns: repeat(4, 1fr); }
        .o-grid--cols-5-lg    { grid-template-columns: repeat(5, 1fr); }
        .o-grid--cols-auto-lg { grid-template-columns: repeat(auto-fit, minmax(0, 1fr)); }
    }

    /*
       Ratio Modifiers
       ==================================================================== */

    /**
     * Sets asymmetric column ratios at medium screens and up.
     */
    @media (min-width: 48rem) {
        .o-grid--ratio-2-1-md { grid-template-columns: 2fr 1fr; }
        .o-grid--ratio-1-2-md { grid-template-columns: 1fr 2fr; }
        .o-grid--ratio-3-1-md { grid-template-columns: 3fr 1fr; }
        .o-grid--ratio-1-3-md { grid-template-columns: 1fr 3fr; }
    }

    /*
        Gap Modifiers
        ==================================================================== */

    /**
     * Sets the gap between grid items.
     */
    .o-grid--gap-sm     { gap: var(--wisp-spacing-sm, .5rem); }
    .o-grid--gap-md 	{ gap: var(--wisp-spacing-md, 1rem); }
    .o-grid--gap-lg 	{ gap: var(--wisp-spacing-lg, 1.5rem); }

    /*
        Align Modifiers
        ==================================================================== */

    /**
     * Sets the cross-axis alignment of grid items.
     */
    .o-grid--align-start   { align-items: flex-start; }
    .o-grid--align-center  { align-items: center; }
    .o-grid--align-end     { align-items: flex-end; }    
}

