/* =========================================================================
   objects.pair
   ========================================================================= */

@layer objects {
    /**
     * Arranges items into two-column key–value pairs with equal row spacing.
     *
     * Example:
     *
     * <form class="o-pair">
     *     <label></label>
     *     <input>
     * </form>
     */
    .o-pair {
        display: grid;
        row-gap: var(--wisp-spacing-sm, .5rem);
        column-gap: var(--wisp-spacing-md, 1rem);
    }
        
    @media (min-width: 48rem) {
        .o-pair {
            grid-template-columns: max-content 1fr;
        } 
    } 

    /*  
       Gap Modifiers
       ===================================================================== */

    /**
     * Sets the gap on the inline axis.
     */
    .o-pair--gap-sm { column-gap: var(--wisp-spacing-sm, .5rem); }
    .o-pair--gap-md { column-gap: var(--wisp-spacing-md, 1rem); }
    .o-pair--gap-lg { column-gap: var(--wisp-spacing-lg, 1.5rem); }
}