/* =========================================================================
   objects.container
   ========================================================================= */
   
@layer objects {
    /**
     * Constrains content width and centers it
     *
     * Example:
     *
     * <div class="o-container">
     * </div> 
     */
    .o-container { 
        padding-block:  var(--wisp-spacing-md, 1rem);
        padding-inline: var(--wisp-spacing-md, 1rem); 
    }

    .o-container > :last-child  { margin-block-end: 0; }

    @media (min-width: 64rem) {
        .o-container {
            max-width: var(--wisp-container-width, 1140px);
            margin-inline: auto;
            padding-inline: 0;
        }
    }

    /*
        Spacing Modifiers
        ==================================================================== */

    /**
     * Applies padding on the block axis.
    */
    .o-container--spacing-xs { padding-block: var(--wisp-spacing-xs, .25rem); }
    .o-container--spacing-sm { padding-block: var(--wisp-spacing-sm, .5rem); }
    .o-container--spacing-md { padding-block: var(--wisp-spacing-md, 1rem); }
    .o-container--spacing-lg { padding-block: var(--wisp-spacing-lg, 1.5rem); }
    .o-container--spacing-xl { padding-block: var(--wisp-spacing-xl, 3rem); }
}