/* =========================================================================
   objects.cluster
   ========================================================================= */

@layer objects {
    /**
     * Arrange items horizontally with consistent spacing.
     *
     * Example:
     *
     * <div class="o-cluster">
     *    <div></div>
     *    <div></div>
     * </div>
     */
    .o-cluster {
        display: flex;
        flex-direction: row;
        gap: var(--wisp-spacing-md, 1rem);
    }
    

  /*
        Responsive Modifier
        ==================================================================== */

    /**
     * Arrange items horizontally on medium displays and up.
     */
    .o-cluster--responsive {
        flex-direction: column;
    }
    
    @media (min-width: 48rem) {
        .o-cluster--responsive {
            flex-direction: row;
        }
    }

    /*
        Gap Modifiers
        ==================================================================== */

    /**
     * Sets the gap between items.
     */
    .o-cluster--gap-sm        { gap: var(--wisp-spacing-sm, .5rem); }
    .o-cluster--gap-md        { gap: var(--wisp-spacing-md, 1rem); }
    .o-cluster--gap-lg        { gap: var(--wisp-spacing-lg, 1.5rem); }

    /*
        Align Modifiers 
        ==================================================================== */

    /**
     * Sets the cross-axis of items.
     */
    .o-cluster--align-start   { align-items: flex-start; }
    .o-cluster--align-center  { align-items: center; }
    .o-cluster--align-end     { align-items: flex-end; } 
      
    /*
        Justify Modifiers
        ==================================================================== */

    /**
     * Sets the main-axis alignment of items.
     */
    .o-cluster--justify-start     { justify-content: flex-start; }
    .o-cluster--justify-center    { justify-content: center; }
    .o-cluster--justify-end       { justify-content: flex-end; }
}