/* =========================================================================
   objects.link-block
   ========================================================================= */
   
@layer objects {
    /**
     * Padded link pattern for navigation and tab-style UI.
     *
     * Example:
     *
     * <a class="o-link-block">
     * </a> 
     */
    .o-link-block {
        display: inline-block;
        padding-block: var(--wisp-spacing-sm, .5rem);
        padding-inline: var(--wisp-spacing-md, 1rem);
        text-decoration-line: none;
        color: inherit;
    }
    

    .o-link-block__icon {
        padding-inline-end: var(--wisp-spacing-sm, .5rem);
    }    

    /*
        Spacing Modifiers 
        ==================================================================== */

    /**
     * Sets the padding on the inline axis.
     */
    .o-link-block--spacing-sm       { padding-inline: var(--wisp-spacing-sm, .5rem); }
    .o-link-block--spacing-md       { padding-inline: var(--wisp-spacing-md, 1rem); }
    .o-link-block--spacing-lg       { padding-inline: var(--wisp-spacing-lg, 1.5rem); }
}