/* =========================================================================
   utilities.margin-block
   ========================================================================= */

@layer utilities {
    /**
     * Sets the margin of an element.
     *
     * Example:
     *
     * <div class="u-margin-block-end-sm"></div>
     */  
    .u-margin-block-end-none { margin-block-end: 0; }
    .u-margin-block-end-sm   { margin-block-end: var(--wisp-spacing-sm, .5rem); }
    .u-margin-block-end-md   { margin-block-end: var(--wisp-spacing-md, 1rem); }
    .u-margin-block-end-lg   { margin-block-end: var(--wisp-spacing-lg, 1.5rem); }
    .u-margin-block-end-xl   { margin-block-end: var(--wisp-spacing-xl, 3rem); }
}