/* =========================================================================
   utilities.type
   ========================================================================= */

@layer utilities {
    /**
     * Sets a color to an element.
     *
     * Example:
     *
     * <span class="u-color-primary"></span>
     */    
     .u-color-primary {
        background-color:   var(--wisp-color-primary, #1d4ed8);
        color:              var(--wisp-color-primary-text, #ffffff);
     }

    .u-color-secondary {
        background-color:   var(--wisp-color-secondary, #475569);
        color:              var(--wisp-color-secondary-text, #ffffff);
    }

    .u-color-neutral {
        background-color:   var(--wisp-color-neutral, #f1f5f9);
        color:              var(--wisp-color-neutral-text, #0f172a);
    }

    .u-color-surface {
        background-color:   var(--wisp-color-surface, #ffffff);
        color:              var(--wisp-color-surface-text, #0f172a);
    }
}
