/* =========================================================================
   utilities.width
   ========================================================================= */

@layer utilities {
    /**
     * Applies a width to an element.
     */
    .u-width-xs     { width: 4rem;  }
    .u-width-sm     { width: 8rem;  }
    .u-width-md     { width: 16rem; }
    .u-width-lg     { width: 24rem; }
    .u-width-xl     { width: 32rem; }
    .u-width-full   { width: 100%; }

    /* Prevent overflow on small screens. */

    .u-width-lg,
    .u-width-xl {
        max-width: 100%;
    }
} 