.vp-doc table {
    display: table;
    width: 100%;
}

.wisp-codepen-link {
    display: inline-block;
    padding: 0 20px;
    height: 38px;
    line-height: 38px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    background-color: var(--vp-button-alt-bg);
    color: var(--vp-button-alt-text)  !important;
    text-decoration: none !important;
}

.wisp-codepen-link:hover {
	color: var(--vp-button-alt-text) !important;
    background-color: var(--vp-button-alt-hover-bg);
}
