 /* =========================================================================
   components.input
   ========================================================================= */

@layer components {
    /**
     * Applies styles to create a input field
     *
     * Example:
     *
     * <input type="text" class="c-input"> 
     */
    .c-input {
        padding-block: var(--wisp-spacing-sm, .5rem);
        padding-inline: var(--wisp-spacing-md, 1rem);
        border-width: 1px;
        border-style: solid;
        border-color: var(--wisp-input-border-color,#8c8c8c);
        border-radius: var(--wisp-input-border-radius, 4px);
    }  
}