 /* =========================================================================
   components.card
   ========================================================================= */

@layer components {
    /**
     *  Arranges content in a contained card layout.
     *
     * Example:
     *
     * <div class="c-card">
     *    <div class="c-card__image"></div>
     *    <div class="c-card__head"></div>
     *    <div class="c-card__body"></div>
     *    <div class="c-card__foot"></div>
     * </div>
     */
    .c-card {
        display: flex;
        flex-direction: column;
    }

    .c-card__head,
    .c-card__body,
    .c-card__foot {
        display: flex;
        flex-direction: column;
        row-gap: var(--wisp-spacing-md, 1rem);
        padding: var(--wisp-spacing-md, 1rem);
    }

    /**
     * Remove margins and rely on row-gap.
     */
    .c-card__head > *,
    .c-card__body > *,
    .c-card__foot > * {
        margin-block: 0;
    }

    /**
     * Card images stretch without padding.
     */
    .c-card__image {
        display: block;
        width: 100%;
    } 

    /*
        Border Modifier
        ==================================================================== */

    /**
     * Applies a border around the card. Use b-press for box-shadow and state.
     */
    .c-card--bordered {
        border-width: 1px;
        border-style: solid;
        border-color: var(--wisp-card-border-color, #ccc)
    } 
    
    /*
        Border Modifier
        ==================================================================== */

    /**
     * Applies a border radius around the card.  
     */
    .c-card--rounded {
        border-radius: var(--wisp-card-radius, 4px);
        overflow: hidden;
    }
}