 /* =========================================================================
   components.table
   ========================================================================= */

@layer components {
    /**
     * Applies styles to create a input field
     *
     * Example:
     *
     * <table class="c-table">
     *     <thead>
     *         <tr>
     *             <th></th>
     *             <th></th>
     *             <th></th>
     *         </tr>
     *     </thead>
     *     <tbody>
     *         <tr>
     *             <td></td>
     *             <td></td>
     *             <td></td>
     *         </tr>
     *     </tbody>
     * </table>
     */
    .c-table {
        width: 100%;
    }

    .c-table th,
    .c-table td {
        padding-block: var(--wisp-table-cell-block-padding, .5rem);
        padding-inline: var(--wisp-table-cell-inline-padding, 1rem);
        text-align: start;
    }

    /*
        Border-cells Modifier
        ==================================================================== */

    /**
     * Sets a border around all table cells.
     */
    .c-table--border-cells th,
    .c-table--border-cells td {
        border-width: 1px;
        border-style: solid;
        border-color: var(--wisp-table-border-color, #ccc)
    } 

    /*
        Border-rows Modifier
        ==================================================================== */

    /**
     * Sets a border above all table rows.
     */
    .c-table--border-rows td {
        border-block-start-width: 1px;
        border-block-start-style: solid;
        border-block-start-color: var(--wisp-table-border-color, #ccc)
    } 
}